/*
 * CSS STYLESHEET FOR XML-WORKFLOW PROOF OF CONCEPT
 *
 * Typography derived from work done at this URL: http://bit.ly/1B3Qj5B
 *
 * The following scale (also using perfect fifth progression) may also help
 * http://bit.ly/1Bl4x4v
 *
 * Feel free to play with these and use them as starting point for your own work :)
 *
 * The project currently uses these fonts:
 *
 * Roboto Slab for headings
 * Roboto (set at weight 300) for body copy
 * Source Code Pro for code blocks and preformated text
 *
*/
@import "modules/_variables";
@import "modules/_mixins";
@import "modules/_normalize";

body {
  background-color: white;
  color: #333;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.25;
  /*
   * Unless otherwise noted we pad the left and right margin
   * to prevent the text from being too close to the browser's borders.
   * The builtin stylesheet margin/padding combo is never enough for my
   * liking
  */
  padding-left: 2em;
  padding-right: 2em;
}


pre code{
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

@import "partials/_asides";
@import "partials/_columns";
@import "partials/_headings";
@import "partials/_marginalia";
@import "partials/_metadata";
@import "partials/_paragraphs";

