/*
 * CSS STYLESHEET FOR XML-WORKFLOW PROOF OF CONCEPT
 *
 * Typography derived from work done at this URL: http://bit.ly/1B3Qj5B
 *
 * The following scale (also using perfect fifth progression) may also help
 * http://bit.ly/1Bl4x4v
 *
 * Feel free to play with these and use them as starting point for your own work :)
 *
 * The project currently uses these fonts:
 *
 * Roboto Slab for headings
 * Roboto (set at weight 300) for body copy
 * Source Code Pro for code blocks and preformated text
 *
*/
@import "_normalize";

body {
  background-color: white;
  color: #333;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  /*
   * Unless otherwise noted we pad the left and right margin
   * to prevent the text from being too close to the browser's borders.
   * The builtin stylesheet margin/padding combo is never enough for my
   * liking
  */
  padding-left: 2em;
  padding-right: 2em;
}

/*
 * Al fonts share family and weight. The htings unique to each
 * will be listed below
*/
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
  text-transform: uppercase;
}

pre code{
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3em;

  + p {
    text-indent: 2em;
  }
}

ul .no-bullet li {
  list-style-type: none;
}

.no-margin-left {
  margin-left:-2em;
}
