// CSS STYLESHEET FOR XML-WORKFLOW PAGED MEDIA PROOF OF CONCEPT
//
// Typography derived from work done at this URL: http://bit.ly/1B3Qj5B
//
// The following scale (also using perfect fifth progression)
// may also help: http://bit.ly/1Bl4x4v
//
// Feel free to play with these and use them as starting point
// for your own work :)
//
// The project currently uses these fonts:
//
// Roboto Slab for headings
// Roboto for body copy
// Monserrat as body alternative
// Source Code Pro for code blocks and preformated text
//
// FONT IMPORTS
//
// Even though CSS Lint throws a fit when I put font imports in a stylesheet,
// I'm doing it to keep the HTML files clean. Eventually I'll switch to locally
// hosted fonts in their own partial. Until then, suck it CSS Lint
//
@import url(http://fonts.googleapis.com/css?family=Roboto:100italic,100,400italic,700italic,300,700,300italic,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);

// PRELIMINARY IMPORTS
//
// We first import a set of variables and mixins that are general enough
// not to fit in any dedicated partial files
//
// We then import normalize.scss (the scss version of normalize.css)
//
@import 'modules/variables';
@import 'modules/mixins';

@import 'modules/normalize';

html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  // color: rgb(58, 60, 63);
  // color: #3A3C3F;
  color: rgb(85, 76, 77);
  color: #554c4d; // hex equivalent
  // font-family: 'Montserrat','Helvetica Neue', Helvetica, sans-serif;
  font-family: 'Roboto Thin', 'Helvetica Neue', Helvetica, sans-serif;
  //font-family: Adelle, Rockwell, Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.1;
  orphans: 4;
  // We undo the padding we create on the master stylesheet
  padding-left: 0;
  padding-right: 0;
  // Widow and orphan control
  widows: 2;

}



em {
  font-style: italic;
  font-weight: 300;
}

@import 'partials/columns';
@import 'partials/marginalia';
@import 'partials/paragraphs';
@import 'partials/lists';
//@import 'partials/images';

// Al fonts share family and weight. The htings unique to each
// will be listed below
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  // no hyphens on headings
  hyphens: none;
  line-height: 1.2;
  margin: 1.414em 0 .5em;
  // Do I want all headers uppercased?
  text-transform: uppercase;
}

h1 {
  font-size: 3.157em;
  margin-top: 0;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  text-align: inherit;
}

section[data-type='titlepage'] {
  h1,
  h2 {
    text-align: center;
  }

  p {
    text-align: left;

    + p {
      text-indent: 0 !important;
    }
  }
}

section[data-type='dedication'] {
  h1,
  h2 {
    text-align: center;
  }

  p {
    text-align: left;

    + p {
      text-indent: 0 !important;
    }
  }
}

// Temporary until I can get highlight.js
.code {
  background-color: #eee;
  opacity: .75;
}

pre {
  overflow-wrap: break-word;
  white-space: pre-line !important;
  word-wrap: break-word;

  code {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    line-height: 1.2em;
    page-break-inside: avoid;
  }
}

.justified {
  text-align: justify;
}


// The classes below use the column-attribs mixin defined in _columns.scss
// to create 2 and 3-column layouts. These classes are meant as starting points,
// there's definitely more you can do with them like playing with line-height
// and word/letter spacing.
.columns2 {
  @include column-attribs (2, 3em);
  line-height: 1.25em;
  width: 100%;

  p:first-of-type {
    margin-top: 0;
  }

  p + p {
    text-indent: 2em;
  }

  p:last-of-type {
    margin-bottom: 1.25em;
  }
}

.columns3 {
  @include column-attribs (3, 10px);
  width: 100%;

  p:first-of-type {
    margin-top: 0;
  }

  p:not:first-of-type {
    text-indent: 2em;
  }

  p:last-of-type {
    margin-bottom: 1.25em;
  }
}


