@import url(http://fonts.googleapis.com/css?family=Roboto:100italic,100,400italic,700italic,300,700,300italic,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);
/* line 37, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 43, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
body {
  background-color: #fff;
  color: #554c4d;
  color: #554c4d;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.1;
  orphans: 4;
  padding-left: 0;
  padding-right: 0;
  widows: 2; }

/* line 64, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
em {
  font-style: italic;
  font-weight: 300; }

/* line 70, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
small, .font-small {
  font-size: .833em; }

/* line 6, /Users/carlos/code/xml-workflow/scss/partials/_headings.scss */
h1, h2, h3, h4 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.414em .5em; }

/* line 17, /Users/carlos/code/xml-workflow/scss/partials/_headings.scss */
h1 {
  font-size: 2.074em;
  margin-top: 0; }

/* line 22, /Users/carlos/code/xml-workflow/scss/partials/_headings.scss */
h2 {
  font-size: 1.728em; }

/* line 26, /Users/carlos/code/xml-workflow/scss/partials/_headings.scss */
h3 {
  font-size: 1.44em; }

/* line 30, /Users/carlos/code/xml-workflow/scss/partials/_headings.scss */
h4 {
  font-size: 1.2em;
  text-transform: uppercase; }

/* line 1, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
aside {
  border-bottom: 3px double #222023;
  border-top: 3px double #222023;
  color: #403f4e;
  line-height: 1.5em;
  padding-bottom: .5em;
  padding-top: .5em;
  width: 100%; }
  /* line 12, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  aside h3 {
    text-align: center; }
  /* line 16, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  aside .pull {
    margin-bottom: .5em;
    margin-left: -20%;
    margin-top: .2em; }
  /* line 24, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  aside .lowlight {
    opacity: .3; }
    /* line 27, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
    aside .lowlight :hover {
      opacity: 1; }

/* line 33, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
.opening {
  border-bottom: 3px double #000;
  border-top: 3px double #000;
  font-size: 2em;
  margin-bottom: 10em;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center; }

/* line 45, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
blockquote {
  border-left: 5px solid #ccc;
  color: #222023;
  font-weight: 100;
  margin-bottom: 1.2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em; }
  /* line 56, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  blockquote p {
    padding-left: 1em; }

/* line 64, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
.pullquote {
  border-bottom: 18px solid #000;
  border-top: 18px solid #000;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 38px;
  margin-right: 100px;
  padding: 20px 0;
  position: relative;
  width: 200px; }
  /* line 76, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  .pullquote p {
    color: #00298a;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    z-index: 1; }
  /* line 84, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  .pullquote p:last-child {
    line-height: 20px;
    padding-top: 2px; }
  /* line 89, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  .pullquote cite {
    color: #333;
    font-size: 18px;
    font-weight: 400; }

/* line 97, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
.margin-notes, .content-left {
  clear: both;
  display: block;
  float: left;
  font-size: .75em;
  margin: 1em;
  width: 40%; }
  /* line 105, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  .margin-notes h3, .content-left h3 {
    text-align: center; }

/* line 111, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
.margin-notes-right, .content-right {
  clear: both;
  display: block;
  float: right;
  font-size: .75em;
  margin: 1em;
  width: 40%; }
  /* line 119, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
  .margin-notes-right h3, .content-right h3 {
    text-align: center; }

/* line 125, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
.margin-notes-right > p:last-of-type, .content-right > p:last-of-type {
  clear: both;
  float: right; }

/* line 131, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
.margin-notes-left > p:last-of-type, .content-left > p:last-of-type {
  clear: both;
  float: left; }

/* line 139, /Users/carlos/code/xml-workflow/scss/partials/_marginalia.scss */
.content-right ul, .content-left ul {
  list-style: none; }

/* line 2, /Users/carlos/code/xml-workflow/scss/partials/_paragraphs.scss */
p {
  font-size: 1em;
  margin-bottom: 1.3em; }
  /* line 6, /Users/carlos/code/xml-workflow/scss/partials/_paragraphs.scss */
  p + p {
    text-indent: 2em; }

/* line 16, /Users/carlos/code/xml-workflow/scss/partials/_paragraphs.scss */
.first-line {
  font-size: 1.1em;
  text-indent: 0;
  text-transform: uppercase; }

/* line 27, /Users/carlos/code/xml-workflow/scss/partials/_paragraphs.scss */
.first-letter {
  float: left;
  font-size: 7em;
  line-height: .8em;
  margin-bottom: -.1em;
  padding-right: .1em; }

/* line 1, /Users/carlos/code/xml-workflow/scss/partials/_lists.scss */
ul li {
  list-style: square; }

/* line 5, /Users/carlos/code/xml-workflow/scss/partials/_lists.scss */
ol li {
  list-style: decimal; }

/* line 1, /Users/carlos/code/xml-workflow/scss/partials/_images.scss */
figure {
  counter-increment: figure_count;
  margin-bottom: 1em;
  margin-top: 1em; }
  /* line 7, /Users/carlos/code/xml-workflow/scss/partials/_images.scss */
  figure figcaption {
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: .2em; }
    /* line 12, /Users/carlos/code/xml-workflow/scss/partials/_images.scss */
    figure figcaption::before {
      content: 'Figure ' counter(figure_count) ': '; }

/* line 85, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
section[data-type='bibliography'] p {
  text-align: left; }
  /* line 88, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  section[data-type='bibliography'] p + p {
    text-indent: 0 !important; }

/* line 96, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
section[data-type='titlepage'] h1, section[data-type='titlepage'] h2 {
  text-align: center; }
/* line 100, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
section[data-type='titlepage'] p {
  text-align: center; }

/* line 107, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
section[data-type='dedication'] h1, section[data-type='dedication'] h2 {
  text-align: center; }
/* line 111, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
section[data-type='dedication'] p {
  text-align: left; }
  /* line 114, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  section[data-type='dedication'] p + p {
    text-indent: 0 !important; }

/* line 120, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
pre {
  overflow-wrap: break-word;
  white-space: pre-line !important;
  word-wrap: break-word; }
  /* line 125, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  pre code {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    line-height: 1.2em; }

/* line 132, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
.justified {
  text-align: justify; }

/* line 141, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
.columns2 {
  column-count: 2;
  column-gap: 3em;
  column-fill: balance;
  column-span: none;
  line-height: 1.25em;
  width: 100%; }
  /* line 146, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  .columns2 p:first-of-type {
    margin-top: 0; }
  /* line 150, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  .columns2 p + p {
    text-indent: 2em; }
  /* line 154, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  .columns2 p:last-of-type {
    margin-bottom: 1.25em; }

/* line 159, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
.columns3 {
  column-count: 3;
  column-gap: 10px;
  column-fill: balance;
  column-span: none;
  width: 100%; }
  /* line 163, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  .columns3 p:first-of-type {
    margin-top: 0; }
  /* line 167, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  .columns3 p:not:first-of-type {
    text-indent: 2em; }
  /* line 171, /Users/carlos/code/xml-workflow/scss/pm-style.scss */
  .columns3 p:last-of-type {
    margin-bottom: 1.25em; }

/*# sourceMappingURL=pm-style.css.map */
