// CSS STYLESHEET FOR XML-WORKFLOW PROOF OF CONCEPT
//
// Typography derived from work done at this URL: http://bit.ly/1B3Qj5B
//
// The following scale (also using perfect fifth progression)
// may also help: http://bit.ly/1Bl4x4v
//
// Feel free to play with these and use them as starting point
// for your own work :)
//
// The project currently uses these fonts:
//
// Roboto Slab for headings
// Roboto for body copy
// Monserrat as body alternative
// Source Code Pro for code blocks and preformated text
//
// FONT IMPORTS
//
// Even though CSS Lint throws a fit when I put font imports in a stylesheet,
// I'm doing it to keep the HTML files clean. Eventually I'll switch to locally
// hosted fonts in their own partial. Until then, suck it CSS Lint
//
@import url(http://fonts.googleapis.com/css?family=Roboto:100italic,100,400italic,700italic,300,700,300italic,400);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);

// PRELIMINARY IMPORTS
//
// We first import a set of variables and mixins that are general enough
// not to fit in any dedicated partial files
//
// We then import normalize.scss (the scss version of normalize.css)
//
@import 'modules/variables';
@import 'modules/mixins';

@import 'modules/normalize';

html {
  font-size: 16px;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  // color: rgb(58, 60, 63);
  // color: #3A3C3F;
  color: rgb(85, 76, 77);
  // hex equivalent provided as fallback for browsers that don't do rgb colors
  color: #554c4d;
  // font-family: 'Montserrat','Helvetica Neue', Helvetica, sans-serif;
  // font-family: 'Roboto Thin', 'Helvetica Neue', Helvetica, sans-serif;
  font-family: Adelle, Rockwell, Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.1;
  // Unless otherwise noted we pad the left and right margin
  // to prevent the text from being too close to the browser's borders
  // and to give plent of whitespace to the reader.
  padding-left: 10em;
  padding-right: 10em;
}


@import 'partials/asides';
@import 'partials/columns';
@import 'partials/headings';
@import 'partials/marginalia';
@import 'partials/metadata';
@import 'partials/paragraphs';
@import 'partials/lists';
//@import 'partials/images';


// Handle justification as a class to let the author decide if they want to
// use it.
.justified {
  text-align: justify;
}


// Blockquote styles
//blockquote {
//  color: #222023;
//  font-style: italic;
//  font-weight: 100;
//  font-size: 1.5em;
//  margin-top: 1.55em;
//  margin-bottom: 1.5em;
//  margin-left: 2em;
//  padding-left: 0.5;
//}

// An alternative blockquote style with a 5 pixel bar
// on the left side
blockquote {
  border-left: 5px solid #ccc;
  color: #222023;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em;

  p {
    padding-left: .5em;
  }
}

// The classes below use the column-attribs mixin defined in _columns.scss
// to create 2 and 3-column layouts. These classes are meant as starting points,
// there's definitely more you can do with them like playing with line-height
// and word/letter spacing
.columns2 {
  @include column-attribs (2, 3em);
  line-height: 1em;
  width: 100%;

  p:first-of-type {
    margin-top: 0;
  }

  p + p {
    text-indent: 2em;
  }
}

.columns3 {
  @include column-attribs (3, 10px);
  width: 100%;

}

// Section specific content
section[data-type='titlepage'] {
  h1,
  h2 {
    text-align: center;
  }

  p {
    text-align: left;

    + p {
      text-indent: 0 !important;
    }
  }
}

section[data-type='dedication'] {
  h1,
  h2 {
    text-align: center;
  }

  p {
    text-align: left;

    + p {
      text-indent: 0 !important;
    }
  }
}

