@import url(http://fonts.googleapis.com/css?family=Roboto:100italic,100,400italic,700italic,300,700,300italic,400);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);
/* line 17, /Users/carlos/code/xml-workflow/scss/modules/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 24, /Users/carlos/code/xml-workflow/scss/modules/normalize */
audio, canvas, video {
  display: inline-block; }

/* line 34, /Users/carlos/code/xml-workflow/scss/modules/normalize */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 42, /Users/carlos/code/xml-workflow/scss/modules/normalize */
[hidden], template {
  display: none; }

/* line 52, /Users/carlos/code/xml-workflow/scss/modules/normalize */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 67, /Users/carlos/code/xml-workflow/scss/modules/normalize */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 72, /Users/carlos/code/xml-workflow/scss/modules/normalize */
body {
  margin: 0; }

/* line 82, /Users/carlos/code/xml-workflow/scss/modules/normalize */
a {
  background: transparent; }
  /* line 84, /Users/carlos/code/xml-workflow/scss/modules/normalize */
  a:focus {
    outline: thin dotted; }
  /* line 89, /Users/carlos/code/xml-workflow/scss/modules/normalize */
  a:hover, a:active {
    outline: 0; }

/* line 98, /Users/carlos/code/xml-workflow/scss/modules/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 103, /Users/carlos/code/xml-workflow/scss/modules/normalize */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 108, /Users/carlos/code/xml-workflow/scss/modules/normalize */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 113, /Users/carlos/code/xml-workflow/scss/modules/normalize */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 118, /Users/carlos/code/xml-workflow/scss/modules/normalize */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 123, /Users/carlos/code/xml-workflow/scss/modules/normalize */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/* line 130, /Users/carlos/code/xml-workflow/scss/modules/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 136, /Users/carlos/code/xml-workflow/scss/modules/normalize */
b, strong {
  font-weight: bold; }

/* line 147, /Users/carlos/code/xml-workflow/scss/modules/normalize */
dfn {
  font-style: italic; }

/* line 152, /Users/carlos/code/xml-workflow/scss/modules/normalize */
mark {
  background: #ff0;
  color: #000; }

/* line 170, /Users/carlos/code/xml-workflow/scss/modules/normalize */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 179, /Users/carlos/code/xml-workflow/scss/modules/normalize */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 186, /Users/carlos/code/xml-workflow/scss/modules/normalize */
q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

/* line 199, /Users/carlos/code/xml-workflow/scss/modules/normalize */
q:before, q:after {
  content: '';
  content: none; }

/* line 205, /Users/carlos/code/xml-workflow/scss/modules/normalize */
small {
  font-size: 80%; }

/* line 212, /Users/carlos/code/xml-workflow/scss/modules/normalize */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 219, /Users/carlos/code/xml-workflow/scss/modules/normalize */
sup {
  top: -0.5em; }

/* line 223, /Users/carlos/code/xml-workflow/scss/modules/normalize */
sub {
  bottom: -0.25em; }

/* line 269, /Users/carlos/code/xml-workflow/scss/modules/normalize */
img {
  border: 0; }

/* line 277, /Users/carlos/code/xml-workflow/scss/modules/normalize */
svg:not(:root) {
  overflow: hidden; }

/* line 284, /Users/carlos/code/xml-workflow/scss/modules/normalize */
figure {
  margin: 0; }

/* line 298, /Users/carlos/code/xml-workflow/scss/modules/normalize */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 308, /Users/carlos/code/xml-workflow/scss/modules/normalize */
legend {
  border: 0;
  padding: 0;
  white-space: normal; }

/* line 324, /Users/carlos/code/xml-workflow/scss/modules/normalize */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

/* line 336, /Users/carlos/code/xml-workflow/scss/modules/normalize */
button, input {
  line-height: normal; }

/* line 345, /Users/carlos/code/xml-workflow/scss/modules/normalize */
button, select {
  text-transform: none; }

/* line 359, /Users/carlos/code/xml-workflow/scss/modules/normalize */
button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 369, /Users/carlos/code/xml-workflow/scss/modules/normalize */
button[disabled], input[disabled] {
  cursor: default; }

/* line 378, /Users/carlos/code/xml-workflow/scss/modules/normalize */
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

/* line 389, /Users/carlos/code/xml-workflow/scss/modules/normalize */
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 398, /Users/carlos/code/xml-workflow/scss/modules/normalize */
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 406, /Users/carlos/code/xml-workflow/scss/modules/normalize */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 414, /Users/carlos/code/xml-workflow/scss/modules/normalize */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 422, /Users/carlos/code/xml-workflow/scss/modules/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 41, /Users/carlos/code/xml-workflow/scss/style.scss */
html {
  font-size: 16px;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 48, /Users/carlos/code/xml-workflow/scss/style.scss */
body {
  background-color: #fff;
  color: #554c4d;
  color: #554c4d;
  font-family: Adelle, Rockwell, Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.1;
  padding-left: 10em;
  padding-right: 10em; }

/* line 3, /Users/carlos/code/xml-workflow/scss/partials/asides */
aside .lowlight {
  opacity: 0.3; }
  /* line 6, /Users/carlos/code/xml-workflow/scss/partials/asides */
  aside .lowlight :hover {
    opacity: 1; }

/* line 13, /Users/carlos/code/xml-workflow/scss/partials/asides */
aside h3 {
  padding-left: 20px;
  text-align: center; }

/* line 6, /Users/carlos/code/xml-workflow/scss/partials/headings */
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
  text-transform: uppercase; }

/* line 16, /Users/carlos/code/xml-workflow/scss/partials/headings */
h1 {
  font-size: 3.157em;
  margin-top: 0; }

/* line 21, /Users/carlos/code/xml-workflow/scss/partials/headings */
h2 {
  font-size: 2.369em; }

/* line 25, /Users/carlos/code/xml-workflow/scss/partials/headings */
h3 {
  font-size: 1.777em; }

/* line 29, /Users/carlos/code/xml-workflow/scss/partials/headings */
h4 {
  font-size: 1.333em;
  text-transform: uppercase; }

/* line 1, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
aside {
  border-bottom: 3px double #ddd;
  border-top: 3px double #ddd;
  color: #666;
  font-size: 1.8em;
  line-height: 1.4em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 100%; }
  /* line 12, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
  aside .pull {
    margin-bottom: 0.5em;
    margin-left: -20%;
    margin-top: 0.2em; }

/* line 20, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
.opening {
  border-bottom: 3px double #ddd;
  border-top: 3px double #ddd;
  font-size: 2em;
  margin-bottom: 10em;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center; }

/* line 31, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
.margin-notes, .content-left {
  font-size: 0.75em;
  margin-left: -230px;
  margin-right: 20px;
  text-align: right;
  width: 230px; }

/* line 40, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
.margin-notes-right, .content-right {
  font-size: 0.75em;
  margin-left: 760px;
  margin-right: -20px;
  position: absolute;
  text-align: left;
  width: 230px; }

/* line 49, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
.content-right {
  font-size: 0.75em;
  margin-left: 760px;
  margin-right: -20px;
  position: absolute;
  text-align: left;
  width: 230px; }

/* line 59, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
.content-right ul, .content-left ul {
  list-style: none; }

/* line 77, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
blockquote {
  border-left: 5px solid #ccc;
  color: #222023;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em; }
  /* line 88, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
  blockquote p {
    padding-left: 0.5em; }

/* line 96, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
.pullquote {
  border-bottom: 18px solid #000;
  border-top: 18px solid #000;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 38px;
  margin-right: 100px;
  padding: 20px 0;
  position: relative;
  width: 200px; }
  /* line 108, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
  .pullquote p {
    color: #00298a;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    z-index: 1; }
  /* line 116, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
  .pullquote p:last-child {
    line-height: 20px;
    padding-top: 2px; }
  /* line 121, /Users/carlos/code/xml-workflow/scss/partials/marginalia */
  .pullquote cite {
    color: #333;
    font-size: 18px;
    font-weight: 400; }

/* line 1, /Users/carlos/code/xml-workflow/scss/partials/metadata */
.metadata {
  padding-left: 2rem;
  padding-right: 2rem; }
  /* line 5, /Users/carlos/code/xml-workflow/scss/partials/metadata */
  .metadata li {
    list-style-type: none; }
  /* line 9, /Users/carlos/code/xml-workflow/scss/partials/metadata */
  .metadata p + p {
    margin-left: -2em; }

/* line 2, /Users/carlos/code/xml-workflow/scss/partials/paragraphs */
p {
  font-size: 1em;
  margin-bottom: 1.3em; }
  /* line 6, /Users/carlos/code/xml-workflow/scss/partials/paragraphs */
  p + p {
    text-indent: 2em; }

/* line 16, /Users/carlos/code/xml-workflow/scss/partials/paragraphs */
.first-line {
  font-size: 1.1em;
  text-indent: 0;
  text-transform: uppercase; }

/* line 27, /Users/carlos/code/xml-workflow/scss/partials/paragraphs */
.first-letter {
  float: left;
  font-size: 7em;
  line-height: 0.8em;
  margin-bottom: -0.1em;
  padding-right: 0.1em; }

/* line 1, /Users/carlos/code/xml-workflow/scss/partials/lists */
ul li {
  list-style: square; }

/* line 5, /Users/carlos/code/xml-workflow/scss/partials/lists */
ol li {
  list-style: decimal; }

/* line 81, /Users/carlos/code/xml-workflow/scss/style.scss */
.justified {
  text-align: justify; }

/* line 100, /Users/carlos/code/xml-workflow/scss/style.scss */
blockquote {
  border-left: 5px solid #ccc;
  color: #222023;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em; }
  /* line 111, /Users/carlos/code/xml-workflow/scss/style.scss */
  blockquote p {
    padding-left: 0.5em; }

/* line 120, /Users/carlos/code/xml-workflow/scss/style.scss */
.columns2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 3em;
  -webkit-column-gap: 3em;
  column-gap: 3em;
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  -moz-column-span: none;
  -webkit-column-span: none;
  column-span: none;
  line-height: 1em;
  width: 100%; }
  /* line 125, /Users/carlos/code/xml-workflow/scss/style.scss */
  .columns2 p:first-of-type {
    margin-top: 0; }
  /* line 129, /Users/carlos/code/xml-workflow/scss/style.scss */
  .columns2 p + p {
    text-indent: 2em; }

/* line 134, /Users/carlos/code/xml-workflow/scss/style.scss */
.columns3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  -moz-column-span: none;
  -webkit-column-span: none;
  column-span: none;
  width: 100%; }

/* line 143, /Users/carlos/code/xml-workflow/scss/style.scss */
section[data-type='titlepage'] h1, section[data-type='titlepage'] h2 {
  text-align: center; }
/* line 147, /Users/carlos/code/xml-workflow/scss/style.scss */
section[data-type='titlepage'] p {
  text-align: left; }
  /* line 150, /Users/carlos/code/xml-workflow/scss/style.scss */
  section[data-type='titlepage'] p + p {
    text-indent: 0 !important; }

/* line 158, /Users/carlos/code/xml-workflow/scss/style.scss */
section[data-type='dedication'] h1, section[data-type='dedication'] h2 {
  text-align: center; }
/* line 162, /Users/carlos/code/xml-workflow/scss/style.scss */
section[data-type='dedication'] p {
  text-align: left; }
  /* line 165, /Users/carlos/code/xml-workflow/scss/style.scss */
  section[data-type='dedication'] p + p {
    text-indent: 0 !important; }

/*# sourceMappingURL=style.css.map */
