'use strict';

/* globals module */

module.exports = function(grunt) {

// configure project
grunt.initConfig({
// make node configurations available
pkg: grunt.file.readJSON('package.json'),

csslint: {
    options: {
        csslintrc: 'samples/web/.csslintrc'
    },
    strict: {
    options: {
    import: 2
    },
    src: [
      'samples/web/content/**/*.css',
      '!samples/web/content/**/*_nolint.css',
      '!samples/web/content/testrtc/bower_components/**/*.css'
      ]
    },
lax: {
options: {
import: false
},
src: ['samples/web/content/**/*.css',
'!samples/web/content/**/*_nolint.css',
'!samples/web/content/testrtc/bower_components/**/*.css'
]
}
}
