pre code{
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  line-height: 1.25em;
  page-break-inside: avoid;
  white-space: pre-line !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
