pre {
  white-space: pre-line;
  width: 100%;

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  line-height: 1.2em;
  overflow-wrap: break-word;
  tab-size: 2;
  width: 100%;
  word-wrap: break-word;
  }
}
