figure {
  border: 1px solid $red;
  counter-increment: figure_count;
  margin-bottom: 1em;
  margin-top: 1em;

  figcaption {
    font-size: 80%;

    &::before {
      content: 'Figure ' counter(figure_count) ': ';
    }
  }
}
