aside {
  border-bottom: 3px double #ddd;
  border-top: 3px double #ddd;
  color: #666;
  font-size: 1.8em;
  line-height: 1.4em;
  padding-bottom: .5em;
  padding-top: .5em;
  width: 100%;

  // If we're using asides as sidebars
  // We may want to do this as well.
  h3 {
    padding-left: 20px;
    text-align: center;
  }

  .pull {
    margin-bottom: .5em;
    margin-left: -20%;
    margin-top: .2em;
  }

  // Playing with the idea of using opacity to highlight
  // or mute the display of aside elements.
  .lowlight {
    opacity: .3;

    :hover {
      opacity: 1;
    }
  }
}

.opening {
  border-bottom: 3px double #ddd;
  border-top: 3px double #ddd;
  font-size: 2em;
  margin-bottom: 10em;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
}

.margin-notes,
.content-left {
  font-size: .75em;
  margin-left: -230px;
  margin-right: 20px;
  text-align: right;
  width: 230px;
}

.margin-notes-right,
.content-right {
  font-size: .75em;
  margin-left: 760px;
  margin-right: -20px;
  position: absolute;
  text-align: left;
  width: 230px;
}

.content-right {
  font-size: .75em;
  margin-left: 760px;
  margin-right: -20px;
  position: absolute;
  text-align: left;
  width: 230px;
}

.content-right ul,
.content-left ul {
  list-style: none;
}

// Blockquote styles
//blockquote {
//  color: #222023;
//  font-style: italic;
//  font-weight: 100;
//  font-size: 1.5em;
//  margin-top: 1.55em;
//  margin-bottom: 1.5em;
//  margin-left: 2em;
//  padding-left: 0.5;
//}

// An alternative blockquote style with a 5 pixel bar
// on the left side
blockquote {
  // border-left: 5px solid #ccc;
  color: #222023;
  font-size: 1.125em;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em;

  p {
    padding-left: .5em;
  }
}


// Testing classes for pullquotes like the ones
// in this URL: http://es.pn/1Ekby6O
.pullquote {
  border-bottom: 18px solid #000;
  border-top: 18px solid #000;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 38px;
  margin-right: 100px;
  padding: 20px 0;
  position: relative;
  width: 200px;

  p {
    color: #00298a;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }

  p:last-child {
    line-height: 20px;
    padding-top: 2px;
  }

  cite {
    color: #333;
    font-size: 18px;
    font-weight: 400;
  }
}
