aside {
  width: 100%;
  padding-bottom: .5em;
  padding-top: .5em;
  border-top: 3px double #ddd;
  border-bottom: 3px double #ddd;
  color: #666;
  line-height: 1.4em;
  font-size: 1.8em;

  .pull {
    margin-left: -20%;
    margin-top: .2em;
    margin-bottom: .5em;
  }

}

.opening {
  font-size: 2em;
  text-align: center;
  border-top: 3px double #ddd;
  padding-top: 2em;
  border-bottom: 3px double #ddd;
  padding-bottom: 2em;
  margin-bottom: 10em;
}

.margin-notes,
.content-left {
  width: 230px;
  margin-left: -230px;
  margin-right: 20px;
  text-align: right;
  font-size: .75em;
}

.margin-notes-right,
.content-right {
  width: 230px;
  margin-left: 760px;
  margin-right: -20px;
  text-align: left;
  font-size: .75em;
  position: absolute;
}

.content-right {
  width: 230px;
  margin-left: 760px;
  margin-right: -20px;
  text-align: left;
  font-size: .75em;
  position: absolute;
}

.content-right ul,
.content-left ul {
  list-style: none;
}

// Blockquote styles
blockquote {
  border-left: 5px solid #060f94;
  color: #222023;
  font-style: italic;
  font-weight: 200;
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
  padding-left: 0.5;
}


// Testing classes for pullquotes like the ones
// in this URL: http://es.pn/1Ekby6O
.pullquote {
  border-top: 18px solid #000;
  border-bottom: 18px solid #000;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 38px;
  margin-right: 100px;
  padding: 20px 0 20px 0;
  position: relative;
  width: 200px;

  p {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 700;
    color: #00298a;
  }

  p:last-child {
    line-height: 20px;
    padding-top: 2px;
  }

  cite {
    font-size: 18px;
    font-weight: 400;
    color: #333;
  }
}
