//One way to work with ebook specific code using SCSS variables.
//
//Set either epub, kindle or generic variables to true and then use them
//with SCSS if statements like so:
//
//@if ($is-epub) {
//  // epub specific code
//} @else {
//  // Generic code goes here
//}
//
//You can also use a generic ebook query for the if statement
//$is-ebook will be true if either $is-epub or $is-kindle are true
$is-epub: null !default;
$is-kindle: null !default;
$is-ebook:  ($is-epub == true) or ($is-kindle == true);

// From normalize.scss
// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy-support-for-ie: false !default; // Used also in Compass


// Set the default font family here. You will override it when declaring fonts
$normalized-font-family: sans-serif !default;

$normalize-headings: true !default;

$h1-font-size: 2em !default;
$h2-font-size: 1.5em !default;
$h3-font-size: 1.17em !default;
$h4-font-size: 1em !default;
$h5-font-size: .83em !default;
$h6-font-size: .75em !default;

$h1-margin: .67em 0 !default;
$h2-margin: .83em 0 !default;
$h3-margin: 1em 0 !default;
$h4-margin: 1.33em 0 !default;
$h5-margin: 1.67em 0 !default;
$h6-margin: 2.33em 0 !default;

$background: #fff !default;
$color: #000 !default;

// Positioning related variables
$position-default-top:    null !default;
$position-default-right:  null !default;
$position-default-bottom: null !default;
$position-default-left:   null !default;

// Other Variable definitions
$red: #cc092f;
